.tab-icon {
    width: 20;
    height: 20;
    margin: 5;
}

.tab-title {
    font-size: 10;
}

.selected {
    color: red;
}

.tab-container {
    border-style: solid;
    border-width: 1;
    border-color: greenyellow;
}