@import url("~/platform.css");

ActionBar {
  background-color: greenyellow;
  color: black;
}

Page {
    background-color: white;
    font-size: 15;
}

TextField {
    padding: 10;
    font-size: 13;
}

.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}

.link {
  font-size: 18;
  color: blue;
  margin: 20;
}

.h3 {
    font-size: 15;
}

.h4 {
    font-size: 12;
}